<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <form action="/game/create" method="POST" >
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row -->
                    <tr class="d-flex">
                        <th class="text-center col-1">Q#</th>
                        <th class="text-center col-7">Question</th>
                        <th class="text-center col-4">Answer</th>
                    </tr>
                    <tr class="d-flex">
                        <td class="text-center col-1">1</td>
                        <td class="text-center col-7">
                            <input type="text" name="q1" required>
                        </td>
                        <td class="text-center col-4">
                            <input type="text" name="a1" required>
                        </td>
                    </tr>
                </table>
                <button id="more-question" class="btn btn-outline-success" type="button">add question</button>
                <button class="btn btn-outline-danger" type="button">remove question</button><br>
                <button class="btn btn-outline-primary" type="submit">submit</button>
            </form>
            <p id="question_counter" style="visibility: hidden;"> 1 </p>
        </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
