<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <tr class="d-flex">
                    <th class="text-center col-1">Q#</th>
                    <th class="text-center col-7">Question</th>
                    <th class="text-center col-4">Answer</th>
                </tr>
                <tr class="d-flex">
                    <td class="text-center col-1">1</td>
                    <td class="text-center col-7"></td>
                    <td class="text-center col-4"></td>
                </tr>
            </table>
        </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
